---

import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>

  <section class="py-20">
    <Heading level="h2" class="sr-only">Footer</Heading>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <Heading level="h3" size="h6">Socials</Heading>
        <ul class="flex flex-col gap-2">
          <li><Link isExternal href="https://discord.gg/hcc-csa">Discord</Link></li>
          <li><Link isExternal href="https://linkedin.com/company/hcc-csa">LinkedIn</Link></li>
          <li><Link isExternal href="https://instagram.com/hcc_csa">Instagram</Link></li>
          <li><Link isExternal href="https://facebook.com/hcc.csa">Facebook</Link></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="text-sm">
          Note: HCC logo is a placeholder. Official branding will be used only with college approval. CSA is a student
          organization at Houston Community College.
        </p>
      </div>
    </div>
  </section>

  <section class="py-8">
    <div class="container text-center">
      <p>&copy; 2025 Computer Science Association at Houston Community College. All rights reserved.</p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
